:root {
  --ghost-a1: rgba(0, 0, 0, 0.05);
  --ghost-a2: rgba(0, 0, 0, 0.1);
  --ghost-a3: rgba(0, 0, 0, 0.15);
  --ghost-a4: rgba(0, 0, 0, 0.2);
  --ghost-a5: rgba(0, 0, 0, 0.3);
  --ghost-a6: rgba(0, 0, 0, 0.4);
  --ghost-a7: rgba(0, 0, 0, 0.5);
  --ghost-a8: rgba(0, 0, 0, 0.6);
  --ghost-a9: rgba(0, 0, 0, 0.7);
  --ghost-a10: rgba(0, 0, 0, 0.8);
  --ghost-a11: rgba(0, 0, 0, 0.9);
  --ghost-a12: rgba(0, 0, 0, 0.95);
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --ghost-a1: color(display-p3 0 0 0 / 0.05);
      --ghost-a2: color(display-p3 0 0 0 / 0.1);
      --ghost-a3: color(display-p3 0 0 0 / 0.15);
      --ghost-a4: color(display-p3 0 0 0 / 0.2);
      --ghost-a5: color(display-p3 0 0 0 / 0.3);
      --ghost-a6: color(display-p3 0 0 0 / 0.4);
      --ghost-a7: color(display-p3 0 0 0 / 0.5);
      --ghost-a8: color(display-p3 0 0 0 / 0.6);
      --ghost-a9: color(display-p3 0 0 0 / 0.7);
      --ghost-a10: color(display-p3 0 0 0 / 0.8);
      --ghost-a11: color(display-p3 0 0 0 / 0.9);
      --ghost-a12: color(display-p3 0 0 0 / 0.95);
    }
  }
}

.dark, .dark-theme {
  --ghost-a1: rgba(255, 255, 255, 0.05);
  --ghost-a2: rgba(255, 255, 255, 0.1);
  --ghost-a3: rgba(255, 255, 255, 0.15);
  --ghost-a4: rgba(255, 255, 255, 0.2);
  --ghost-a5: rgba(255, 255, 255, 0.3);
  --ghost-a6: rgba(255, 255, 255, 0.4);
  --ghost-a7: rgba(255, 255, 255, 0.5);
  --ghost-a8: rgba(255, 255, 255, 0.6);
  --ghost-a9: rgba(255, 255, 255, 0.7);
  --ghost-a10: rgba(255, 255, 255, 0.8);
  --ghost-a11: rgba(255, 255, 255, 0.9);
  --ghost-a12: rgba(255, 255, 255, 0.95);
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark, .dark-theme {
      --ghost-a1: color(display-p3 1 1 1 / 0.05);
      --ghost-a2: color(display-p3 1 1 1 / 0.1);
      --ghost-a3: color(display-p3 1 1 1 / 0.15);
      --ghost-a4: color(display-p3 1 1 1 / 0.2);
      --ghost-a5: color(display-p3 1 1 1 / 0.3);
      --ghost-a6: color(display-p3 1 1 1 / 0.4);
      --ghost-a7: color(display-p3 1 1 1 / 0.5);
      --ghost-a8: color(display-p3 1 1 1 / 0.6);
      --ghost-a9: color(display-p3 1 1 1 / 0.7);
      --ghost-a10: color(display-p3 1 1 1 / 0.8);
      --ghost-a11: color(display-p3 1 1 1 / 0.9);
      --ghost-a12: color(display-p3 1 1 1 / 0.95);
    }
  }
}